:root {
  --hero-color: #ffffff;
  --title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --button-color: #f5f4fa;
  --icon-color: #afb1b8;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

body {
  font-family: Roboto, sans-serif;
  color: var(--text-color);
  font-size: 14px;
  letter-spacing: 0.03em;
  background-color: var(--hero-color);
}

@media screen and (min-width: 320) {
  body {
    overflow-x: hidden;
  }
}

p,
h1,
h2,
h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style-type: none;
}

.button {
  color: var(--title-color);
  font-family: inherit;
  background-color: var(--button-color);
  cursor: pointer;
  border-radius: 4px;
  border: solid transparent;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.header {
  border-bottom: 1px solid #ececec;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
}

.header__section {
  display: flex;
  align-items: center;
  position: relative;
}

.burger-btn {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  line-height: 0;
  border: none;
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }
}

.burger-btn-icon:hover,
.burger-btn-icon:focus {
  fill: var(--accent-color);
}

.mobile-menu {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  padding: 48px 40px;
  width: 100vw;
  height: 100vh;
  background-color: var(--hero-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.mobile-close-btn {
  background-color: transparent;
  cursor: pointer;
  padding: 0;
  line-height: 0;
  border: none;
  position: absolute;
  top: 10px;
  right: 15px;
}

.close-btn:hover,
.close-btn:focus {
  fill: var(--accent-color);
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-list__link {
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.mobile-list__link:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-list__link--acsent {
  color: var(--accent-color);
}

.mobile-contant-list {
  display: flex;
  flex-direction: column;
}

.mobile-contant-link {
  margin-bottom: 32px;
}

.mobile-contant__tel {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-contant__mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.mobile-social-list {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 32px;
}

.mobile-social-link {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--accent-color);
}

.mobile-social-item:not(:last-child) {
  margin-right: 20px;
}

.mobile-social-item:not(:first-child)::before {
  content: "";
  width: 22px;
  height: 0px;
  margin-right: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  transform: rotate(90deg);
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 24px;
    line-height: 1.17;
    display: flex;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .logo {
    font-size: 26px;
    line-height: 1.19;
  }
}

.logo__first {
  color: var(--accent-color);
}

.logo__second {
  color: #000000;
}

.logo__second--footer {
  color: var(--hero-color);
}

@media screen and (min-width: 768px) {
  .footer-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (max-width: 767px) {
  .pages {
    display: none;
  }
  .pages__item {
    display: none;
  }
}

.pages {
  display: flex;
  margin-left: 93px;
}

@media screen and (min-width: 768px) {
  .pages {
    margin-left: 88px;
    margin-right: 84px;
  }
}

@media screen and (min-width: 1200px) {
  .pages {
    margin-left: 93px;
    margin-right: auto;
  }
}

.pages__item:not(:last-child) {
  margin-right: 50px;
}

.pages__link {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-color);
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pages__link--focus::after {
  content: "";
  display: inline-block;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
  position: absolute;
  left: 0%;
  bottom: -31px;
}

@media screen and (min-width: 768px) {
  .pages__link--focus::after {
    left: 0%;
    bottom: -24px;
  }
}

@media screen and (min-width: 1200px) {
  .pages__link--focus::after {
    left: 0%;
    bottom: -19px;
  }
}

@media screen and (max-width: 1199px) {
  .pages__link--focus {
    color: var(--accent-color);
  }
}

@media screen and (max-width: 767px) {
  .menu-nav {
    display: none;
  }
  .menu-nav__item {
    display: none;
    align-items: center;
  }
}

@media screen and (min-width: 767px) {
  .menu-nav__item {
    display: block;
  }
  .menu-nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-nav__item:not(:last-child) {
    margin-right: 30px;
  }
}

.menu-nav__link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--text-color);
  height: 16px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav__link:hover {
  color: var(--accent-color);
}

.menu-nav__link:focus {
  color: var(--accent-color);
}

.menu-nav__link:hover .menu-nav__icon {
  fill: var(--accent-color);
}

.menu-nav__link:focus .menu-nav__icon {
  fill: var(--accent-color);
}

@media screen and (min-width: 768px) {
  .menu-nav__link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
  }
}

@media screen and (min-width: 1200px) {
  .menu-nav__link {
    font-size: 14px;
    line-height: 1.14;
  }
  .menu-nav__link:not(:last-child) {
    margin-right: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .menu-nav {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    margin-left: 305px;
  }
}

.menu-nav__icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu-nav__picture {
  margin-right: 10px;
  margin-left: 0;
  background-color: transparent;
  fill: var(--icon-color);
}

.menu-nav__picture--letter {
  width: 16px;
  height: 12px;
}

.menu-nav__picture--smartphone {
  width: 10px;
  height: 16px;
}

.hero-section {
  padding-top: 118px;
  padding-bottom: 118px;
  margin-left: auto;
  margin-right: auto;
  max-width: 480px;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/picture2/mobile/backdrop/backdrop-mobile1x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
}

@media screen and (min-device-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/picture2/mobile/backdrop/backdrop-mobile2x.jpg");
  }
}

@media screen and (min-width: 768px) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/picture2/tablet/backdrop/backdrop-tablet1x.jpg");
    max-width: 768px;
  }
}

@media screen and (min-width: 768px) and (min-device-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/picture2/tablet/backdrop/backdrop-tablet2x.jpg");
  }
}

@media screen and (min-width: 1200px) {
  .hero-section {
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/picture2/desktop/backdrop/backdrop-desktop1x.jpg");
    max-width: 1600px;
    height: 600px;
  }
}

@media screen and (min-width: 1200px) and (min-device-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../img/picture2/desktop/backdrop/backdrop-desktop2x.jpg");
  }
}

.hero-section__title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--hero-color);
  margin-bottom: 30px;
}

.hero-section__button {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--hero-color);
  background-color: var(--accent-color);
  cursor: pointer;
  border-radius: 4px;
  border: solid transparent;
}

.benefits-section {
  display: block;
}

.benefits-section__item {
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
  max-width: 450px;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  align-items: center;
}

.benefits-section__icon {
  width: 70px;
  height: 70px;
  margin-left: auto;
  margin-right: auto;
}

.benefits-section__list:not(:last-child) {
  margin-bottom: 30px;
}

.benefits-section__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}

.benefits-section__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
  .benefits-section {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .benefits-section__list {
    width: 354px;
    margin: 15px;
  }
  .benefits-section__title {
    text-align: start;
  }
}

@media screen and (min-width: 1200px) {
  .benefits-section__list {
    width: 270px;
    margin-right: 15px;
  }
  .benefits-section {
    display: flex;
  }
}

@media screen and (max-width: 1199px) {
  .examples-section {
    display: none;
  }
}

.examples-section {
  padding-top: 0px;
}

.examples-section__item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-color);
  margin-bottom: 50px;
}

.examples-section__list {
  display: flex;
}

.examples-section__text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--hero-color);
}

.examples-section__picture {
  position: relative;
}

.examples-section__picture:not(:last-child) {
  margin-right: 30px;
}

.examples-section__container {
  width: 100%;
  height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
  position: absolute;
  left: 0;
  bottom: 0;
}

.team-section {
  display: block;
  background-color: var(--button-color);
}

.team-section__info {
  background: var(--hero-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 24px;
}

.team-section__person:not(:last-child) {
  margin-bottom: 30px;
}

.team-section__item {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 30px;
}

.member-pfoto {
  margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
  .member-pfoto {
    max-width: 450px;
  }
}

.team-section__member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 10px;
}

.team-section__profession {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;
}

.social-link {
  display: flex;
  justify-content: center;
}

.social-link__list:not(last-child) {
  margin-right: 10px;
}

.social-link__photo {
  width: 20px;
  height: 20px;
}

.social-link__picture {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (min-width: 768px) {
  .team-section__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .team-section__info {
    margin: 15px;
  }
}

.social-link__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 12px;
  border-radius: 50%;
  background-color: transparent;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link__icon:hover {
  background-color: var(--accent-color);
}

.social-link__icon:focus {
  background-color: var(--accent-color);
}

.social-link__icon:hover .social-link__picture {
  fill: var(--hero-color);
}

.social-link__icon:focus .social-link__picture {
  fill: var(--hero-color);
}

.social-link__picture {
  fill: var(--icon-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link__photo {
  width: 20px;
  height: 20px;
}

.clients__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 30px;
}

@media screen and (max-width: 480px) {
  .clients__list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .clients__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 480px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .clients__item {
    margin: 15px;
  }
}

@media screen and (min-width: 768px) {
  .clients__item {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__item {
    width: 170px;
    margin: 15px;
  }
  .clients__list {
    display: flex;
    flex-wrap: nowrap;
  }
}

.clients__picture {
  fill: #afb1b8;
}

.clients__link {
  display: flex;
  padding: 16px 52px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
}

.clients__link:hover {
  border-color: #2196f3;
}

.clients__link:focus {
  border-color: #2196f3;
}

.clients__link:hover .clients__picture {
  fill: var(--accent-color);
}

.clients__link:focus .clients__picture {
  fill: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .clients__link {
    width: 210px;
    height: 92px;
  }
}

.clients__picture {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-section__btn:not(:last-child) {
  margin-right: 8px;
}

.product-section__button {
  padding: 6px 22px;
  min-width: 73px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-section__button:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  color: var(--hero-color);
  background-color: var(--accent-color);
}

.product-section__button:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  color: var(--hero-color);
  background-color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .product-section__btn {
    margin-bottom: 15px;
    margin-right: 8px;
  }
  .product-section__item {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) {
  .product-section__item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
  }
}

.product-example__modal {
  position: relative;
  overflow: hidden;
}

.product-example__list {
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-example__list:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-example__list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.product-example__list:hover .product-example__text {
  transform: translateY(0);
}

.product-example__list:focus .product-example__text {
  transform: translateY(0);
}

@media screen and (max-width: 767px) {
  .product-example__list {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) {
  .product-example {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
  .product-example__list {
    width: 354px;
    margin: 15px;
  }
}

@media screen and (max-width: 767px) {
  .product-example__list {
    max-width: 450px;
  }
}

.product-example__text {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0%;
  left: 0%;
  padding: 63px 26px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.56;
  text-align: center;
  color: var(--hero-color);
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-example__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
  margin-top: 20px;
  margin-bottom: 4px;
  margin-left: 24px;
}

.product-example__subtitle {
  font-size: 16px;
  line-height: 1.86;
  color: var(--text-color);
  margin-left: 24px;
  margin-bottom: 20px;
}

.backdrop {
  position: fixed;
  top: 0%;
  right: 0%;
  width: 100%;
  height: 100%;
  padding: 94px 15px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: visible;
  pointer-events: none;
}

.modal-wind {
  padding: 40px 40px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  background-color: var(--hero-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

@media screen and (max-width: 767px) {
  .modal-wind {
    max-width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .modal-wind {
    width: 450px;
    margin-top: 208px;
  }
}

@media screen and (min-width: 1200px) {
  .modal-wind {
    width: 528px;
  }
}

.modal-wind__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.modal-wind__form {
  width: 100%;
  padding: 12px 42px;
  margin-bottom: 10px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: outline-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-wind__block {
  position: relative;
  margin-bottom: 10px;
}

.modal-wind__block:focus-within .form-wind__icon {
  fill: var(--accent-color);
}

.modal-wind__block:focus-within .modal-wind__form {
  outline-color: var(--accent-color);
}

.form-wind__icon {
  background-color: transparent;
  fill: var(--title-color);
  position: absolute;
  left: 15px;
  top: 27px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-wind__textarea {
  height: 120px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
}

.modal-wind__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-wind__coment {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--text-color);
}

.modal-wind__textarea::placeholder {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-wind__message:focus-within .modal-wind__textarea {
  outline-color: var(--accent-color);
}

.modal-wind__btn {
  display: block;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--hero-color);
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

.modal-checkbox {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1200px) {
  .modal-checkbox {
    display: block;
  }
}

.checkbox-icon {
  display: inline-block;
  margin-right: 8px;
}

.accept:checked + .checkbox-icon {
  opacity: 0;
}

.accept:focus + .checkbox-icon {
  fill: var(--accent-color);
}

.accept {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.accept-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  border-radius: 2px;
  fill: var(--hero-color);
  position: absolute;
  left: 0%;
  opacity: 0;
}

.accept:checked ~ .accept-icon {
  opacity: 1;
}

.checkbox-text {
  font-size: 12px;
  line-height: 1.71;
  color: var(--text-color);
  display: flex;
  align-items: center;
  position: relative;
  width: 423px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .checkbox-text {
    font-size: 14px;
  }
}

.checkbox-link {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.close-btn .close-btn__picture {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--hero-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  background-color: transparent;
  fill: #000000;
  border-color: var(--accent-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-btn:hover {
  fill: var(--accent-color);
}

.close-btn:focus {
  fill: var(--accent-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}

@media screen and (max-width: 767px) {
  .footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: center;
    font-weight: normal;
  }
}

.footer-logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

@media screen and (max-width: 767px) {
  .footer-nav {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

.footer-nav__address {
  margin-bottom: 8px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--hero-color);
}

.footer-nav__link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-nav__link:hover {
  color: var(--accent-color);
}

.footer-nav__link:focus {
  color: var(--accent-color);
}

@media screen and (max-width: 767px) {
  .footer-nav__link {
    display: block;
    text-align: center;
  }
}

.footer-nav__link:not(:last-child) {
  margin-bottom: 8px;
}

@media screen and (max-width: 767px) {
  .footer-social {
    margin-top: 60px;
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-social {
    display: block;
    text-align: start;
    margin-right: auto;
  }
}

.footer-text {
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--hero-color);
}

@media screen and (max-width: 1199px) {
  .footer-text {
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-text {
    text-align: start;
    margin-bottom: 20px;
  }
}

.fotter-net {
  width: 206px;
  height: 80px;
}

.social-link__icon--light {
  background-color: rgba(255, 255, 255, 0.1);
}

.social-link__photo--footer {
  fill: var(--hero-color);
}

.footer-form {
  margin-left: auto;
  width: 570px;
}

@media screen and (max-width: 767px) {
  .footer-form {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .footer-form {
    width: 450px;
  }
}

.footer-form__field {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .footer-form__field {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 768px) {
  .footer-form__field {
    display: block;
  }
  .footer-form {
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
}

.footer-form__title {
  font-weight: 700;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--hero-color);
  display: block;
  margin-bottom: 20px;
}

@media screen and (min-width: 1200px) {
  .footer-form__title {
    display: block;
    text-align: start;
  }
}

.footer-form__mail {
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  outline: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .footer-form__mail {
    width: 100%;
    margin-bottom: 20px;
  }
}

.subscribe-mail:focus {
  border-color: var(--accent-color);
}

.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  padding: 10px 28px;
  margin-left: 12px;
  border: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  color: var(--hero-color);
  background: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}

.footer-btn__icon {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  fill: var(--hero-color);
}

@media screen and (max-width: 767px) {
  .footer-container__tablet {
    display: block;
    text-align: center;
  }
}

@media screen and (min-width: 767px) {
  .footer-container__tablet {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 60px;
  }
  .footer-container__block {
    display: block;
    text-align: center;
    margin-right: 165px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container__tablet {
    display: flex;
    margin-bottom: 0;
  }
  .footer-container__block {
    display: block;
    text-align: start;
    margin-right: 70px;
  }
  .footer-form__field {
    display: flex;
    align-items: center;
  }
  .footer-form__mail {
    margin-right: 12px;
  }
}
/*# sourceMappingURL=main.css.map */