.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  margin-right: auto;
  @media screen and(min-width: 768px) {
    font-size: 24px;
    line-height: 1.17;
    display: flex;
    align-items: center;
  }
  @media screen and(min-width: 1200px) {
    font-size: 26px;
    line-height: 1.19;
  }
}
.logo__first {
  color: var(--accent-color);
}
.logo__second {
  color: #000000;
}
.logo__second--footer {
  color: var(--hero-color);
}
@media screen and(min-width: 768px) {
  .footer-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
